<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.notification.mapper.OperationLogMapper">


    <select id="operationLogPage" resultType="com.tree.clouds.notification.model.entity.OperationLog">
        select a.* from operation_log a left join user b on a.CREATE_USER=b.user_id
        where 1=1
        <if test="operationLogPageVO.userName!=null and operationLogPageVO.userName!=''">
            b.user_name like "%"#{userName}"%"
        </if>
        <if test="operationLogPageVO.ip!=null and operationLogPageVO.ip!=''">
            a.ip like "%"#{ip}"%"
        </if>
        <if test="operationLogPageVO.StartTime!=null and operationLogPageVO.StartTime!=''">
            a.create_time >= #{startTime}
        </if>
        <if test="operationLogPageVO.endTime!=null and operationLogPageVO.endTime!=''">
            a.create_time &lt;= #{endTime}
        </if>
    </select>

</mapper>
